#navbar {
    background-color: transparent;
    @apply flex;
    @apply flex-wrap;
    padding: 0px;
}

#item {
    background-color: transparent;
    color: white;
    &:hover {
        color: #FDCB76;
        // border-bottom: 1px solid #6140FF;
    }
}

#itemLink {
    color: white;
    &:hover {
        color: #FDCB76;
    }
}